In [1]:
# Decision Tree Model
# import libraries
import numpy as np
import pandas as pd # for data preparation and processing or data manipulation
import seaborn as sns # statistical data visualization
import matplotlib.pyplot as plt # for plotting and data visualization 
%matplotlib inline 


import graphviz # visualizations of the leaf node 

# ML libraries
from sklearn import tree 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
 
#Control display | Optional 
pd.options.display.max_columns = 50
sns.set(style = 'darkgrid', rc = {'axes.facecolor': '#616E7C'})

#Ignore warnings
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'graphviz'

In [ ]:
# Load / read dataset
df = pd.read_csv('heart_disease.csv')
df.head(10) # show first five rows

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

In [ ]:
# Show number of people with heart disease
# Column for target 
df.target.value_counts()

1    526
0    499
Name: target, dtype: int64

In [ ]:
# Show percentage of male and female 
count_female = len(df[df.sex == 0])
count_male = len(df[df.sex == 1])

# Show the output 
print('Percentage of female patients: {:.2f}%'.format(count_female/(len(df.sex))*100))
print('Percentage of male patients: {:.2f}%'.format(count_male/(len(df.sex))*100))

Percentage of female patients: 30.44%
Percentage of male patients: 69.56%

In [ ]:
# Show the mean
df.groupby('target').mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,56.569138,0.827655,0.482966,134.106212,251.292585,0.164329,0.456914,139.130261,0.549098,1.600200,1.166333,1.158317,2.539078
1,52.408745,0.570342,1.378327,129.245247,240.979087,0.134981,0.598859,158.585551,0.134981,0.569962,1.593156,0.370722,2.119772

In [ ]:
# Show for Null or NaN values 
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
# ML training and testing
# Create logistic regression 
y = df.target.values 
x_data = df.drop(['target'], axis=1) #For normalization of data

In [ ]:
# Split the data for testing 33% and training 67%
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_data, y, test_size=0.33, random_state=42)

In [ ]:
# Check shape of data for remaining after splitting for training and testing
X_train.shape, X_test.shape

((686, 13), (339, 13))

In [ ]:
# Check the datatype 
X_train.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
dtype: object

In [ ]:
# Check X_train header 
X_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
866,41,1,2,112,250,0,1,179,0,0.0,2,0,2
749,58,1,1,125,220,0,1,144,0,0.4,1,4,3
212,50,1,0,150,243,0,0,128,0,2.6,1,0,3
79,52,1,1,134,201,0,1,158,0,0.8,2,1,2
148,52,1,3,152,298,1,1,178,0,1.2,1,0,3

In [ ]:
clf_gini = DecisionTreeClassifier(criterion='gini', max_depth=3, random_state=0)
clf_gini.fit(X_train, y_train)

NameError: name 'DecisionTreeClassifier' is not defined

In [ ]:
# Predict the class label for the test data using the decision tree classifier
y_pred_gini = clf_gini.predict(X_test)
from sklearn.metrics import accuracy_score
print('Model accuracy score with criterion gini index:{0:0.4f}',format(accuracy_score(y_test, y_pred_gini)))

NameError: name 'clf_gini' is not defined

In [ ]:
# Predict the class label for training data using decsion tree classifier 
y_pred_train_gini = clf_gini.predict(X_train)
y_pred_train_gini

NameError: name 'clf_gini' is not defined

In [ ]:
# Print the training and testing set of accuracy score
print('Training-set accuracy score: {0:0.4f}'.format(clf_gini.score(X_train,y_train)))
print('Testing-set accuracy score: {0:0.4f}'.format(clf_gini.score(X_test,y_test)))

NameError: name 'clf_gini' is not defined

In [ ]:
# 1st Way to visualize decision tree leaf node | Create figure for width and height
plt.figure(figsize = (12,8)) # Create figure for width and height
from sklearn import tree 
tree.plot_tree(clf_gini.fit(X_train, y_train))

NameError: name 'plt' is not defined